#choropleth_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}

* {
 
  font-family: Sans-Serif;
  max-width:1200px;
}


#state_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}


.chart_section {
  display:flex;
  
}




#diag {
  display:flex;
  width:40%;
}





#metal_chart {
  max-width:500px;


}

#state_matrix{
  width:100%;


}



p{
  width:80%;
}