#choropleth_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}

* {

 font-family: Sans-Serif;
}


#state_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}


.chart_section {
  display:flex;
  
}




#diag {
  display:flex;
  width:40%;
}


img{
  width:80%;
  height:auto;
}


#metal_chart {
  width:50%;


}

#state_matrix{
  width:50%;


}