#choropleth_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}


#state_map {
  display: inline

	
	/*height: 1000px;
	width: 800px;*/
}


.chart_section {
  display:flex;
  
}




#diag {
  display:flex;
  width:40%;
}





#metal_chart {
  display:inline-block;

}

#state_matrix{
  width:50%;
  display:inline-block;

}